h1 {
    text-align: center;
}

nav {
    text-align: center;
}

*{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}